*{
box-sizing: border-box;
}

body{
width: 70%;
margin: auto;
}

header h1{
  text-align: center;
  background-color:bisque;
  margin:0;
  padding-top: 3rem;
  color: white;
  font-family: sans-serif;
}

.top {
  margin: 0;
  float: left;
  width:100%;
  background-color: lightpink;
}

.top ul{
  margin:0;
  padding:0;
  width: 100%;
}

.top li{
  list-style: none;
  float: left;
  padding-bottom: .25rem;
  padding-top: .25rem;
 }

.top a{
  padding-right:3rem;
  padding-left: 3rem;
  padding-bottom: .25rem;
  padding-top: .25rem;
  border-right: .25rem solid purple;
  text-decoration: none;
}

  .top ul li:last-child a{
    border-right: none;
    padding-right: 0;
}

.side{
    clear: both;
    margin: 0;
    float: left;
    width: 25%;
    height: auto;
    background-color: purple;
}

.side ul{
    margin:0;
    padding-top: 5rem;
    padding-bottom:10rem;
}

.side li{
  margin:0;
  padding:.5rem .5rem 1rem .5rem;
  text-align: center;
  list-style: none;
  background color:plum; 
}

.side ul li a{
  text-decoration: none;
  padding: 0rem;
  display: block;
  text-align: center;
  color:white;
}
  
article {
  float: left;
  background-color: #ECECFF;
  text-align: center;
  width:75%;
}

figure{
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 9rem;
    padding-left: 5rem;
    padding-bottom: 13rem;
    padding-right: 5rem;  
}

figcaption{
  text-align: center;
  font-size: X-small;
  font-family: sans-serif;  
}

article img{
  width:5rem;
  padding-left:0rem;
  margin:0;
  border:0;
}

footer{
  clear: both;
  padding:2rem 0 2rem 0; 
  margin:0;
  text-align: center;
}

footer img{
  margin:0;
  padding: 1rem 2rem 1rem 2rem;
  width:6rem;
  text-align: center;
}
  






