*{box-sizing: border-box;

}
body{
  width:70%;
  margin: auto;
}

h1{
  font-size: 2rem;
  font-family:sans-serif;
  text-align: center;
  color: #8D38C9;
  font-size: 3rem;
  background-color: white;
  padding-top: 2rem;
  margin: 0;
}
header nav{
  
  float:left;
  width:100%;
  border:1px solid lightblue;
  background-color:#9100FF;
  margin: 0;

}
header ul{
  padding: 0;
  border: 0;
  margin: 0;
}
  header li{
  float: left;
  list-style: none;
  text-align: center;
  color: white;
    padding: 0;
    margin: 0;
  /* border-right: 1px solid purple;*/
  /*padding-bottom:1em;*/
}

header a{
  float:left;
  width:100%;
  margin:0;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  text-align: center;
  border-right: 2px solid purple;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
header nav ul li:first-child a{
    border-left:none;
}
header nav ul li:last-child a {
    border-right:none;
  padding-right: 0;
}
article {
  float: left;
  background-color: #ECECFF;
  text-align: center;
}
figure{
  margin:0;
  padding: 10rem;
  padding-left: 20rem;
}
figcaption{
  text-align: center;
  font-family: Georgia, serif;
  font-size: x-small;
  padding-left: 0rem;
}
article img{
  width: 17rem;
 }

.side{
  clear: both;
  float: left;
  width: 25%;
  /*border: 1px solid black;*/
  margin: 0;
  background-color: #D0A1FF;
}

.side ul{
  margin: 0;
  padding-bottom:25rem;
  padding-top:10rem;
  padding-right: 3rem;
  text-align: center;
}
.side li{
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0;
  /*margin-top: 0;*/
  color: white;
  font-family: sans-serif;
  font-weight: 900;
  font-size: smaller;
  
  
}
footer{
  clear: both;
  border: 1rem white;
  background-color: white;
  padding:2rem;
  text-align: center;
}
footer img{
  width:4rem;
  padding-left: 1rem;
  padding-right: 1rem;

}



